body {
    color: white;
    font-size: 45px;
   
    text-shadow: -1px 0 black, 0 1px black, 0 1px, 0 -1px black;
    text-align: center; 
    background-image: url("football1.jpg");
 
}

#win-button {
    height: 800px;
    width: 800px;
    border: 3px, solid, red;
}

#run.button, #short.button, #deep.button {
    background-color: brown;
    border-radius: 80%;
    color: white;
    font-size: 25px;
    font: bold;
    font-weight: 60px;
}
 .button {
    padding: 75px;
    box-shadow: 2px 2px 4px black, -2px -2px 4px black;
    margin: 4%;
    
 }
 #modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    font-size: 17px;
    color: black;
    text-shadow: none;
 }
 #modal-textbox {
    background-color: white;
    height: 350px;
    width: 550px;
    border-radius: 30px;
    margin: 150px auto;
    margin: 20px;
    padding: 10px;
 }